GIN_MODE=release


REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=3

WHATSAPP_REDIS_DB=6

# MYSQL_HOST_DB=your-db-host
# MYSQL_PORT_DB=3306
# MYSQL_USER_DB=your-db-user
# MYSQL_PASS_DB=your-db-password
# MYSQL_NAME_DB=your_db_name
MYSQL_HOST_DB=127.0.0.1
MYSQL_PORT_DB=3306
MYSQL_USER_DB=your-db-user
MYSQL_PASS_DB=your-db-password
MYSQL_NAME_DB=your_db_name

MYSQL_NAME_CALL_CENTER_DB=your_call_center_db_name # Not use

# PROD
# MYSQL_HOST_DB_KONFIRMASI_PENGERJAAN=127.0.0.1
# MYSQL_PORT_DB_KONFIRMASI_PENGERJAAN=3306
MYSQL_HOST_DB_KONFIRMASI_PENGERJAAN="your-konfirmasi-db-host"
MYSQL_PORT_DB_KONFIRMASI_PENGERJAAN=3306
MYSQL_USER_DB_KONFIRMASI_PENGERJAAN=your-db-user
MYSQL_PASS_DB_KONFIRMASI_PENGERJAAN=your-db-password
MYSQL_NAME_DB_KONFIRMASI_PENGERJAAN=your_konfirmasi_db_name

APP_LISTEN=:8080
WEB_PUBLIC_URL=https://your-domain.example.com
FILESTORE_URL=http://your-filestore-host:port
# FILESTORE_URL=http://127.0.0.1:22441
# WO_DETAIL_URL=http://your-wo-detail-host:port
WO_DETAIL_URL=https://your-domain.example.com
WHATSAPP_CIDENG_SERVER=your-whatsapp-server-host
ENDPOINT_KUKUH_GET_DATA:http://your-endpoint-host:port/here/getData

APP_NAME=Your App Name
APP_LOGO=/assets/self/img/logo.jpeg

APP_VERSION_NO=1
APP_VERSION_CODE=1.0.0.2026.01.01
APP_VERSION_NAME=your_app_name
APP_STATIC_DIR=./web
APP_PUBLISHED_DIR=assets|page|log
#|dist|fonts|js|libs|scss|tasks|uploads #|page|log
APP_LOG_DIR=./log
APP_UPLOAD_DIR=./uploads

CONFIG_SMTP_HOST=smtp.example.com
CONFIG_SMTP_PORT=587
CONFIG_AUTH_EMAIL=your-email@example.com
CONFIG_AUTH_PASSWORD=your-email-password
CONFIG_SMTP_SENDER=your-sender@example.com

LOGIN_TIME_M=900
COOKIE_LOGIN_DOMAIN=

COOKIE_LOGIN_SECURE=false
MAX_DISCONECTION_TIME_S=12

AES_KEY=your-32-character-aes-key-here!!!
AES_KEY_IV=your-16-char-iv!!

