<div class="row">
    <div class="col-lg-8 mb-4 order-0 d-flex">
      <div class="card flex-grow-1">
        <div class="d-flex align-items-end row">
          <div class="col-sm-8">
            <div class="card-body">
              <h3 class="card-title text-primary"> Hi, {{.fullname}}. Welcome to Merchant Service Dashboard  </h3>
              <div class="mb-4 d-flex justify-content-between flex-sm-row flex-column gap-3">
                <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                  <div class="card-title">
                    <h5 class="text-nowrap mb-2"></h5>
                    <!-- <span class="badge bg-label-warning rounded-pill">Year 2021</span> -->
                  </div>
                  <div class="mt-sm-auto">
                    <!-- <small class="text-success text-nowrap fw-medium"
                      ><i class="bx bx-chevron-up"></i> 68.2%</small
                    > -->
                    <h3 class="mb-0 current-deposit"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center text-sm-left">
            <div class="card-body pb-0 px-0 px-md-4">
              <img
                src="../assets/img/illustrations/man-with-laptop-light.png"
                height="140"
                alt="View Badge User"
                data-app-dark-img="illustrations/man-with-laptop-dark.png"
                data-app-light-img="illustrations/man-with-laptop-light.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 order-1">
      <div class="row">        
        <div class="col-lg-6 col-md-12 col-6 mb-4 d-flex">
          <div class="card flex-grow-1 h-100">
            <div class="card-body">
              <div class="card-title d-flex align-items-start justify-content-between">
                <div class="avatar flex-shrink-0">
                    <span class="avatar-initial rounded-circle bg-label-success">
                        <i class="fa-solid fa-users"></i>
                    </span>
                </div>
              </div>
              <span>Total Admin</span>
              <h4 class="card-title text-nowrap mb-1 used-deposit">12</h4>
              <!-- <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i>10k</small> -->
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-6 mb-4 d-flex">
          <div class="card flex-grow-1 h-100">
            <div class="card-body">
              <div class="card-title d-flex align-items-start justify-content-between">
                <div class="avatar flex-shrink-0">
                    <span class="avatar-initial rounded-circle bg-label-info">
                        <i class='bx bx-store-alt'></i>
                    </span>
                </div>
              </div>
              <span>Total Merchant</span>
              <h4 class="card-title text-nowrap mb-1 used-deposit">12</h4>
              <!-- <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i>10k</small> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Order Statistics -->
    <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
      <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between pb-0">
          <div class="card-title mb-0">
            <h5 class="m-0 me-2">Transaction Statistics</h5>
            <small class="text-muted">42.82k Total Trx</small>
          </div>
          <div class="dropdown">
            <button
              class="btn p-0"
              type="button"
              id="orederStatistics"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              <i class="bx bx-dots-vertical-rounded"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
              <a class="dropdown-item" href="javascript:void(0);">Select All</a>
              <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
              <a class="dropdown-item" href="javascript:void(0);">Share</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex flex-column align-items-center gap-1">
              <h2 class="mb-2">8,258</h2>
              <span>Total Transactions</span>
            </div>
            <div id="orderStatisticsChart"></div>
          </div>
          <ul class="p-0 m-0">
            <li class="d-flex mb-4 pb-1">
              <div class="avatar flex-shrink-0 me-3">
                <span class="avatar-initial rounded bg-label-primary"
                  ><i class="fa-brands fa-cc-visa"></i></span>
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <h6 class="mb-0">Visa</h6>
                  <small class="text-muted">Merchant Trx</small>
                </div>
                <div class="user-progress">
                  <small class="fw-medium">82.5k</small>
                </div>
              </div>
            </li>
            <li class="d-flex mb-4 pb-1">
              <div class="avatar flex-shrink-0 me-3">
                <span class="avatar-initial rounded bg-label-success"><i class='bx bxl-mastercard' ></i></span>
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <h6 class="mb-0">Mastercard</h6>
                  <small class="text-muted">Merchant Trx</small>
                </div>
                <div class="user-progress">
                  <small class="fw-medium">23.8k</small>
                </div>
              </div>
            </li>
            <li class="d-flex mb-0 pb-1">
              <div class="avatar flex-shrink-0 me-3">
                <span class="avatar-initial rounded bg-label-info"><i class='bx bx-credit-card' ></i></span>
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <h6 class="mb-0">Debit</h6>
                  <small class="text-muted">Food Merchant</small>
                </div>
                <div class="user-progress">
                  <small class="fw-medium">849k</small>
                </div>
              </div>
            </li>
            <!-- <li class="d-flex">
              <div class="avatar flex-shrink-0 me-3">
                <span class="avatar-initial rounded bg-label-secondary"
                  ><i class='bx bx-bug' ></i></span>
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <h6 class="mb-0">Suspicious Trx</h6>
                  <small class="text-muted">Rejected & Unknown Trx</small>
                </div>
                <div class="user-progress">
                  <small class="fw-medium">99</small>
                </div>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <!--/ Order Statistics -->
    <!-- Total Income -->
    <div class="col-md-6 col-lg-8 col-xl-8 mb-4 order-1 d-flex align-items-stretch ">
      <div class="card flex-grow-1">
        <div class="row row-bordered g-0">
          <div class="col-md-8">
            <div class="card-header">
              <h5 class="card-title mb-0">Total Transactions</h5>
              <small class="card-subtitle">Yearly report overview</small>
            </div>
            <div class="card-body">
              <div id="totalIncomeChart"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-header d-flex justify-content-between">
              <div>
                <h5 class="card-title mb-0">Report</h5>
                <small class="card-subtitle">Monthly Avg. $45.578k</small>
              </div>
              <div class="dropdown">
                <button
                  class="btn p-0"
                  type="button"
                  id="totalIncome"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalIncome">
                  <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
                  <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                  <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="report-list">
                <div class="report-list-item rounded-2 mb-3">
                  <div class="d-flex align-items-start">
                    <div class="report-list-icon shadow-sm me-2">
                      <i class="fa-regular fa-circle-check fa-lg text-success"></i>
                    </div>
                    <div class="d-flex justify-content-between align-items-end w-100 flex-wrap gap-2">
                      <div class="d-flex flex-column">
                        <span>Success</span>
                        <h5 class="mb-0">$42,845</h5>
                      </div>
                      <small class="text-success">+2.34k</small>
                    </div>
                  </div>
                </div>
                <div class="report-list-item rounded-2 mb-3">
                  <div class="d-flex align-items-start">
                    <div class="report-list-icon shadow-sm me-2">
                      <i class="fa-solid fa-clock-rotate-left fa-flip-horizontal fa-lg text-warning"></i>
                    </div>
                    <div class="d-flex justify-content-between align-items-end w-100 flex-wrap gap-2">
                      <div class="d-flex flex-column">
                        <span>Pending</span>
                        <h5 class="mb-0">$38,658</h5>
                      </div>
                      <small class="text-danger">-1.15k</small>
                    </div>
                  </div>
                </div>
                <div class="report-list-item rounded-2">
                  <div class="d-flex align-items-start">
                    <div class="report-list-icon shadow-sm me-2">
                      <i class="fa-solid fa-xmark fa-lg text-danger"></i>
                    </div>
                    <div class="d-flex justify-content-between align-items-end w-100 flex-wrap gap-2">
                      <div class="d-flex flex-column">
                        <span>Failed</span>
                        <h5 class="mb-0">$18,220</h5>
                      </div>
                      <small class="text-success">+1.35k</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Total Income -->
    </div>
    <!--/ Total Income -->
    <!-- Activity Timeline -->
    <div class="col-md-12 col-lg-6 order-4 order-lg-3">
      <div class="card">
        <div class="card-datatable table-responsive">
          <table class="invoice-list-table table">
            <thead>
              <tr>
                <th>Merchant</th>
                <th>Amount</th>
                <th>Status</th>
                <th class="cell-fit">Paid By</th>
                <th class="cell-fit">Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr>
                <td>
                  <div class="d-flex justify-content-start align-items-center">
                    <div class="avatar-wrapper">
                      <div class="avatar avatar-sm me-2">
                        <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <a href="pages-profile-user.html" class="text-body text-truncate fw-medium"
                        >Henry Barnes</a
                      >
                      <small class="text-truncate text-muted">jok@puc.co.uk</small>
                    </div>
                  </div>
                </td>
                <td>$459.65</td>
                <td><span class="badge bg-label-success"> Paid </span></td>
                <td>
                  <img
                    src="../assets/img/icons/payments/master-light.png"
                    class="img-fluid"
                    width="50"
                    alt="masterCard"
                    data-app-light-img="icons/payments/master-light.png"
                    data-app-dark-img="icons/payments/master-dark.png" />
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="dropdown">
                      <a
                        href="javascript:;"
                        class="btn dropdown-toggle hide-arrow text-body p-0"
                        data-bs-toggle="dropdown"
                        ><i class="bx bx-dots-vertical-rounded"></i
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                        <a href="javascript:;" class="dropdown-item">Duplicate</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:;" class="dropdown-item delete-record text-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start align-items-center">
                    <div class="avatar-wrapper">
                      <div class="avatar avatar-sm me-2">
                        <img src="../assets/img/avatars/20.png" alt="Avatar" class="rounded-circle" />
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <a href="pages-profile-user.html" class="text-body text-truncate fw-medium"
                        >Hallie Warner</a
                      >
                      <small class="text-truncate text-muted">hellie@war.co.uk</small>
                    </div>
                  </div>
                </td>
                <td>$93.81</td>
                <td><span class="badge bg-label-warning"> Pending </span></td>
                <td>
                  <img
                    src="../assets/img/icons/payments/visa-light.png"
                    class="img-fluid"
                    width="50"
                    alt="visaCard"
                    data-app-light-img="icons/payments/visa-light.png"
                    data-app-dark-img="icons/payments/visa-dark.png" />
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="dropdown">
                      <a
                        href="javascript:;"
                        class="btn dropdown-toggle hide-arrow text-body p-0"
                        data-bs-toggle="dropdown"
                        ><i class="bx bx-dots-vertical-rounded"></i
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                        <a href="javascript:;" class="dropdown-item">Duplicate</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:;" class="dropdown-item delete-record text-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start align-items-center">
                    <div class="avatar-wrapper">
                      <div class="avatar avatar-sm me-2">
                        <img src="../assets/img/avatars/9.png" alt="Avatar" class="rounded-circle" />
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <a href="pages-profile-user.html" class="text-body text-truncate fw-medium"
                        >Gerald Flowers</a
                      >
                      <small class="text-truncate text-muted">initus@odemi.com</small>
                    </div>
                  </div>
                </td>
                <td>$934.35</td>
                <td><span class="badge bg-label-warning"> Pending </span></td>
                <td>
                  <img
                    src="../assets/img/icons/payments/visa-light.png"
                    class="img-fluid"
                    width="50"
                    alt="visaCard"
                    data-app-light-img="icons/payments/visa-light.png"
                    data-app-dark-img="icons/payments/visa-dark.png" />
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="dropdown">
                      <a
                        href="javascript:;"
                        class="btn dropdown-toggle hide-arrow text-body p-0"
                        data-bs-toggle="dropdown"
                        ><i class="bx bx-dots-vertical-rounded"></i
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                        <a href="javascript:;" class="dropdown-item">Duplicate</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:;" class="dropdown-item delete-record text-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start align-items-center">
                    <div class="avatar-wrapper">
                      <div class="avatar avatar-sm me-2">
                        <img src="../assets/img/avatars/14.png" alt="Avatar" class="rounded-circle" />
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <a href="pages-profile-user.html" class="text-body text-truncate fw-medium"
                        >John Davidson</a
                      >
                      <small class="text-truncate text-muted">jtum@upkesja.gov</small>
                    </div>
                  </div>
                </td>
                <td>$794.97</td>
                <td><span class="badge bg-label-success"> Paid </span></td>
                <td>
                  <img
                    src="../assets/img/icons/payments/paypal-light.png"
                    class="img-fluid"
                    width="50"
                    alt="paypalCard"
                    data-app-light-img="icons/payments/paypal-light.png"
                    data-app-dark-img="icons/payments/paypal-dark.png" />
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="dropdown">
                      <a
                        href="javascript:;"
                        class="btn dropdown-toggle hide-arrow text-body p-0"
                        data-bs-toggle="dropdown"
                        ><i class="bx bx-dots-vertical-rounded"></i
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                        <a href="javascript:;" class="dropdown-item">Duplicate</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:;" class="dropdown-item delete-record text-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start align-items-center">
                    <div class="avatar-wrapper">
                      <div class="avatar avatar-sm me-2">
                        <span class="avatar-initial rounded-circle bg-label-warning">JH</span>
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <a href="pages-profile-user.html" class="text-body text-truncate fw-medium"
                        >Jayden Harris</a
                      >
                      <small class="text-truncate text-muted">wipare@tin.com</small>
                    </div>
                  </div>
                </td>
                <td>$19.49</td>
                <td><span class="badge bg-label-success"> Paid </span></td>
                <td>
                  <img
                    src="../assets/img/icons/payments/master-light.png"
                    class="img-fluid"
                    width="50"
                    alt="masterCard"
                    data-app-light-img="icons/payments/master-light.png"
                    data-app-dark-img="icons/payments/master-dark.png" />
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="dropdown">
                      <a
                        href="javascript:;"
                        class="btn dropdown-toggle hide-arrow text-body p-0"
                        data-bs-toggle="dropdown"
                        ><i class="bx bx-dots-vertical-rounded"></i
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                        <a href="javascript:;" class="dropdown-item">Duplicate</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:;" class="dropdown-item delete-record text-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start align-items-center">
                    <div class="avatar-wrapper">
                      <div class="avatar avatar-sm me-2">
                        <img src="../assets/img/avatars/8.png" alt="Avatar" class="rounded-circle" />
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <a href="pages-profile-user.html" class="text-body text-truncate fw-medium"
                        >Rena Ferguson</a
                      >
                      <small class="text-truncate text-muted">nur@kaomor.edu</small>
                    </div>
                  </div>
                </td>
                <td>$636.27</td>
                <td><span class="badge bg-label-danger"> Failed </span></td>
                <td>
                  <img
                    src="../assets/img/icons/payments/paypal-light.png"
                    class="img-fluid"
                    width="50"
                    alt="paypalCard"
                    data-app-light-img="icons/payments/paypal-light.png"
                    data-app-dark-img="icons/payments/paypal-dark.png" />
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="dropdown">
                      <a
                        href="javascript:;"
                        class="btn dropdown-toggle hide-arrow text-body p-0"
                        data-bs-toggle="dropdown"
                        ><i class="bx bx-dots-vertical-rounded"></i
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                        <a href="javascript:;" class="dropdown-item">Duplicate</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:;" class="dropdown-item delete-record text-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/ Activity Timeline -->
    <!-- pill table -->
    <div class="col-md-6 order-3 order-lg-4 mb-4 mb-lg-0">
      <div class="card text-center">
        <div class="card-header py-3">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <button
                type="button"
                class="nav-link active"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#navs-pills-browser"
                aria-controls="navs-pills-browser"
                aria-selected="true">
                Top Merchant Trx
              </button>
            </li>
            <!-- <li class="nav-item">
              <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#navs-pills-os"
                aria-controls="navs-pills-os"
                aria-selected="false">
                Top Merchant Trx
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#navs-pills-country"
                aria-controls="navs-pills-country"
                aria-selected="false">
                Top Country Trx
              </button>
            </li> -->
          </ul>
        </div>
        <div class="tab-content pt-0">
          <div class="tab-pane fade show active" id="navs-pills-browser" role="tabpanel">
            <div class="table-responsive text-start">
              <table class="table table-borderless text-nowrap">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Browser</th>
                    <th>Visits</th>
                    <th class="w-50">Data In Percentage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/chrome.png"
                          alt="Chrome"
                          height="24"
                          class="me-2" />
                        <span>Chrome</span>
                      </div>
                    </td>
                    <td>8.92k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 84.75%"
                            aria-valuenow="84.75"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">84.75%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/safari.png"
                          alt="Safari"
                          height="24"
                          class="me-2" />
                        <span>Safari</span>
                      </div>
                    </td>
                    <td>7.29k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-primary"
                            role="progressbar"
                            style="width: 72.43%"
                            aria-valuenow="72.43"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">72.43%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/firefox.png"
                          alt="Firefox"
                          height="24"
                          class="me-2" />
                        <span>Firefox</span>
                      </div>
                    </td>
                    <td>6.11k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-primary"
                            role="progressbar"
                            style="width: 67.37%"
                            aria-valuenow="67.37"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">67.37%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/edge.png"
                          alt="Edge"
                          height="24"
                          class="me-2" />
                        <span>Edge</span>
                      </div>
                    </td>
                    <td>5.08k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-info"
                            role="progressbar"
                            style="width: 60.12%"
                            aria-valuenow="60.12"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">60.12%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/opera.png"
                          alt="Opera"
                          height="24"
                          class="me-2" />
                        <span>Opera</span>
                      </div>
                    </td>
                    <td>3.93k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-info"
                            role="progressbar"
                            style="width: 51.94%"
                            aria-valuenow="51.94"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">51.94%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/brave.png"
                          alt="Brave"
                          height="24"
                          class="me-2" />
                        <span>Brave</span>
                      </div>
                    </td>
                    <td>3.19k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            style="width: 39.94%"
                            aria-valuenow="39.94"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">39.94%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/vivaldi.png"
                          alt="Vivaldi"
                          height="24"
                          class="me-2" />
                        <span>Vivaldi</span>
                      </div>
                    </td>
                    <td>1.29k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-danger"
                            role="progressbar"
                            style="width: 28.43%"
                            aria-valuenow="28.43"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">18.43%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/uc.png"
                          alt="UC Browser"
                          height="24"
                          class="me-2" />
                        <span>UC Browser</span>
                      </div>
                    </td>
                    <td>328</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-danger"
                            role="progressbar"
                            style="width: 20.14%"
                            aria-valuenow="20.14"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">20.14%</small>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="navs-pills-os" role="tabpanel">
            <div class="table-responsive text-start">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>System</th>
                    <th>Visits</th>
                    <th class="w-50">Data In Percentage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/windows.png"
                          alt="Windows"
                          height="24"
                          class="me-2" />
                        <span>Windows</span>
                      </div>
                    </td>
                    <td>875.24k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 71.5%"
                            aria-valuenow="71.50"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">71.50%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/mac.png"
                          alt="Mac"
                          height="24"
                          class="me-2" />
                        <span>Mac</span>
                      </div>
                    </td>
                    <td>89.68k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-primary"
                            role="progressbar"
                            style="width: 66.67%"
                            aria-valuenow="66.67"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">66.67%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/ubuntu.png"
                          alt="Ubuntu"
                          height="24"
                          class="me-2" />
                        <span>Ubuntu</span>
                      </div>
                    </td>
                    <td>37.68k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-info"
                            role="progressbar"
                            style="width: 62.82%"
                            aria-valuenow="62.82"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">62.82%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/chrome.png"
                          alt="Chrome"
                          height="24"
                          class="me-2" />
                        <span>Chrome</span>
                      </div>
                    </td>
                    <td>35.34k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-info"
                            role="progressbar"
                            style="width: 56.25%"
                            aria-valuenow="56.25"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">56.25%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/cent.png"
                          alt="Cent"
                          height="24"
                          class="me-2" />
                        <span>Cent</span>
                      </div>
                    </td>
                    <td>32.25k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-info"
                            role="progressbar"
                            style="width: 42.76%"
                            aria-valuenow="42.76"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">42.76%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/linux.png"
                          alt="Linux"
                          height="24"
                          class="me-2" />
                        <span>Linux</span>
                      </div>
                    </td>
                    <td>22.15k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            style="width: 37.77%"
                            aria-valuenow="37.77"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">37.77%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/fedora.png"
                          alt="Fedora"
                          height="24"
                          class="me-2" />
                        <span>Fedora</span>
                      </div>
                    </td>
                    <td>1.13k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-danger"
                            role="progressbar"
                            style="width: 29.16%"
                            aria-valuenow="29.16"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">29.16%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          src="../assets/img/icons/brands/vivaldi-os.png"
                          alt="Vivaldi"
                          height="24"
                          class="me-2" />
                        <span>Vivaldi</span>
                      </div>
                    </td>
                    <td>1.09k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-danger"
                            role="progressbar"
                            style="width: 26.26%"
                            aria-valuenow="26.26"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">26.26%</small>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="navs-pills-country" role="tabpanel">
            <div class="table-responsive text-start">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Country</th>
                    <th>Visits</th>
                    <th class="w-50">Data In Percentage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../assets/svg/flags/us.svg" alt="USA" height="24" class="me-2" />
                        <span>USA</span>
                      </div>
                    </td>
                    <td>87.24k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 89.12%"
                            aria-valuenow="89.12"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">89.12%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../assets/svg/flags/br.svg" alt="Brazil" height="24" class="me-2" />
                        <span>Brazil</span>
                      </div>
                    </td>
                    <td>62.68k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-primary"
                            role="progressbar"
                            style="width: 78.23%"
                            aria-valuenow="78.23"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">78.23%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../assets/svg/flags/in.svg" alt="India" height="24" class="me-2" />
                        <span>India</span>
                      </div>
                    </td>
                    <td>52.58k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-info"
                            role="progressbar"
                            style="width: 69.82%"
                            aria-valuenow="69.82"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">69.82%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../assets/svg/flags/au.svg" alt="Australia" height="24" class="me-2" />
                        <span>Australia</span>
                      </div>
                    </td>
                    <td>44.13k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            style="width: 59.9%"
                            aria-valuenow="59.90"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">59.90%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../assets/svg/flags/de.svg" alt="Germany" height="24" class="me-2" />
                        <span>Germany</span>
                      </div>
                    </td>
                    <td>32.21k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            style="width: 57.11%"
                            aria-valuenow="57.11"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">57.11%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../assets/svg/flags/fr.svg" alt="France" height="24" class="me-2" />
                        <span>France</span>
                      </div>
                    </td>
                    <td>37.87k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            style="width: 41.23%"
                            aria-valuenow="41.23"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">41.23%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../assets/svg/flags/pt.svg" alt="Portugal" height="24" class="me-2" />
                        <span>Portugal</span>
                      </div>
                    </td>
                    <td>20.29k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-danger"
                            role="progressbar"
                            style="width: 37.11%"
                            aria-valuenow="37.11"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">37.11%</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../assets/svg/flags/cn.svg" alt="China" height="24" class="me-2" />
                        <span>China</span>
                      </div>
                    </td>
                    <td>12.21k</td>
                    <td>
                      <div class="d-flex justify-content-between align-items-center gap-3">
                        <div class="progress w-100" style="height: 10px">
                          <div
                            class="progress-bar bg-danger"
                            role="progressbar"
                            style="width: 17.61%"
                            aria-valuenow="17.61"
                            aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                        <small class="fw-medium">17.61%</small>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ pill table -->
  </div>
  <script src="../assets/js/tab-dashboards.js"></script>
  <script>
    getUserInfoDepositValue ()
    getVehicleInfoValue ()
  </script>