<div class="card">
  <h5 class="card-header">Merchant Issuer Clearing Log</h5>
  <div class="card-datatable text-nowrap">
    <table class="dt_issuer_log table table-bordered">
      <thead>
        <tr>
          <th>id</th>
          <th>mid</th>
          <th>tid</th>
          <th>trace</th>
          <th>batch</th>
          <th>settle_date</th>
          <th>clearing_date</th>
          <th>clearing_status</th>
          <th>clearing_name</th>
          <th>total_transaction</th>
          <th>total_amount</th>
          <th>created_at</th>
          <th>updated_at</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Merchant Issuer Clearing Details</h5>
  <div class="card-datatable text-nowrap">
    <table class="dt_issuer_details_log table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>id</th>
          <th>settlement_id</th>
          <th>transaction_id</th>
          <th>transaction_type</th>
          <th>mid</th>
          <th>tid</th>
          <th>card_type</th>
          <th>amount</th>
          <th>transaction_date</th>
          <th>trace</th>
          <th>response_code</th>
          <th>response_at</th>
          <th>approval_code</th>
          <th>reff_id</th>
          <th>issuer_id</th>
          <th>contactless_flag</th>
          <th>pfid</th>
          <th>void_id</th>
          <th>status</th>
          <th>created_at</th>
          <th>batch</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<script src="../assets/js/tab-issuer-log.js?_=2"></script>
