<!-- Category List Table -->
<div class="card">
  <div class="row mx-2 mt-3">
    <select id="system-log-file" class="select2 border-0" data-allow-clear="true">
      <option value="apps.log">apps.log</option>
    </select>
  </div>
  <div class="card-datatable ">
    <table class="system-log-list table ">
      <thead>
        <tr>
          <th>Log</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<!-- Offcanvas to add new customer -->
<script src="../assets/js/tab-system-log.js"></script>