<!-- Category List Table -->
<div class="card">
  <div class="row mx-2 mt-3">
    <h2>Log Activity</h2>
  </div>
  <div class="card-datatable ">
    <table class="dt_activity_log table ">
      <thead>
        <tr>
          <th></th>
          <th>Date Time</th>
          <th>Action</th>
          <th>Full Name</th>
          <th>Status</th>
          <th>Detail Log</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<!-- Offcanvas to add new customer -->
<script src="../assets/js/tab-activity-log.js?_=1"></script>