<div class="container-xxl flex-grow-1 container-p-y">
    <h2 class="py-3 mb-4"><span class="text-muted fw-light"></span>Vehicles</h2>
    <!-- Card Border Shadow -->
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card card-border-shadow-primary h-100">
          <div class="card-body">
            <div class="d-flex align-items-center mb-2 pb-1">
              <div class="avatar me-2">
                <span class="avatar-initial rounded bg-label-primary"><i class='bx bxs-car-garage'></i></span>
              </div>
              <h4 class="ms-1 mb-0" id="total-vehicles"></h4>
            </div>
            <p class="mb-1">Vehicles Amount</p>
            <p class="mb-0">
              <span class="fw-medium me-1"></span>
              <small class="text-muted"></small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card card-border-shadow-warning h-100">
          <div class="card-body">
            <div class="d-flex align-items-center mb-2 pb-1">
              <div class="avatar me-2">
                <span class="avatar-initial rounded bg-label-warning"><i class="bx bxs-car"></i></span>
              </div>
              <h4 class="ms-1 mb-0" id="total-cars"></h4>
            </div>
            <p class="mb-1">Cars</p>
            <p class="mb-0">
              <span class="fw-medium me-1"></span>
              <small class="text-muted"></small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card card-border-shadow-danger h-100">
          <div class="card-body">
            <div class="d-flex align-items-center mb-2 pb-1">
              <div class="avatar me-2">
                <span class="avatar-initial rounded bg-label-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" height="16" width="20" viewBox="0 0 640 512">
                    <path opacity="1" fill="#eb0000" d="M280 32c-13.3 0-24 10.7-24 24s10.7 24 24 24h57.7l16.4 30.3L256 192l-45.3-45.3c-12-12-28.3-18.7-45.3-18.7H64c-17.7 0-32 14.3-32 32v32h96c88.4 0 160 71.6 160 160c0 11-1.1 21.7-3.2 32h70.4c-2.1-10.3-3.2-21-3.2-32c0-52.2 25-98.6 63.7-127.8l15.4 28.6C402.4 276.3 384 312 384 352c0 70.7 57.3 128 128 128s128-57.3 128-128s-57.3-128-128-128c-13.5 0-26.5 2.1-38.7 6L418.2 128H480c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32H459.6c-7.5 0-14.7 2.6-20.5 7.4L391.7 78.9l-14-26c-7-12.9-20.5-21-35.2-21H280zM462.7 311.2l28.2 52.2c6.3 11.7 20.9 16 32.5 9.7s16-20.9 9.7-32.5l-28.2-52.2c2.3-.3 4.7-.4 7.1-.4c35.3 0 64 28.7 64 64s-28.7 64-64 64s-64-28.7-64-64c0-15.5 5.5-29.7 14.7-40.8zM187.3 376c-9.5 23.5-32.5 40-59.3 40c-35.3 0-64-28.7-64-64s28.7-64 64-64c26.9 0 49.9 16.5 59.3 40h66.4C242.5 268.8 190.5 224 128 224C57.3 224 0 281.3 0 352s57.3 128 128 128c62.5 0 114.5-44.8 125.8-104H187.3zM128 384a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/></svg>
                </span>
              </div>
              <h4 class="ms-1 mb-0" id="total-motorcycles"></h4>
            </div>
            <p class="mb-1">Motorcycle</p>
            <p class="mb-0">
              <span class="fw-medium me-1"></span>
              <small class="text-muted"></small>
            </p>
          </div>
        </div>
      </div>
      <!-- Vehicles List Table -->
<div class="card">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Search Filter</h3>
      <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
        <div class="col-md-4 vehicle_type"></div>
      </div>
    </div>
    <div class="card-datatable table-responsive">
      <table class="datatables-vehicles table border-top">
        <thead>
          <tr>
            <th></th>
            <th>Date</th>
            <th>User Name</th>
            <th>Vehicle Type</th>
            <th>No Plate</th>
            <th>Model</th>
            <th>Production Year</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
    <script src="../assets/js/app-vehicle-list.js"></script>
    <script>
      getVehicleInfoValue ()
      $.ajax({
      type: 'GET',
      url: webPath+'admin/vehicle',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      // data: JSON.stringify(formData),
      success: function (response) {
          console.log('Data sent successfully:', response);
      },
      error: function (error) {
        console.log(error)
        console.error('Error sending data:', error);
      },
  });
    </script>