<div class="d-flex justify-content-end position-relative">
    <a href="/ta_report" class="btn btn-success me-3 mb-3" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-file-excel me-2"></i> Data Dashboard TA
    </a>
</div>

<div class="accordion" id="accordionLogAct">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingError">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseError"
                aria-expanded="true" aria-controls="collapseError">
                <i class="fa-solid fa-panorama me-2"></i>
                Table View Data Error
            </button>
        </h2>
        <div id="collapseError" class="accordion-collapse collapse show" aria-labelledby="headingError"
            data-bs-parent="#accordionLogAct">
            <div class="accordion-body">
                {{.TABLE_VIEW_DATA_ERROR}}
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingLogAct">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseLogAct" aria-expanded="false" aria-controls="collapseLogAct">
                <i class="fa-brands fa-accessible-icon me-2"></i>
                Table Log Aktivitas TA
            </button>
        </h2>
        <div id="collapseLogAct" class="accordion-collapse collapse" aria-labelledby="headingLogAct"
            data-bs-parent="#accordionLogAct">
            <div class="accordion-body">
                {{.TABLE_LOG_ACT}}
            </div>
        </div>
    </div>
</div>

<!-- <script>
    $(document).ready(async function () {
        await hideFilterButton();
    });

    async function hideFilterButton() {
        $("button").each(function () {
            if ($(this).find("i.bx.bx-filter-alt").length) {
                $(this).hide(); // Hide filter button
            }
        });
    }

</script> -->