<div class="card mb-2">
  <div class="card-header border-bottom mb-0 pb-0">
    <h5 class="card-title">Table bin_range</h5>
    <div class="d-flex row gap-3 gap-md-0">
    </div>
  </div>
  <div class="card-datatable table-responsive">
    <table class="dt_bin_range table border-top">
      <thead>
        <tr>
          <th></th>
          <th>id</th>
          <th>name</th>
          <th>bank_code</th>
          <th>card_type</th>
          <th>pan_range_low</th>
          <th>pan_range_high</th>
          <th>issuer_name</th>
          <th><i class='bx bx-run'></i></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div class="card mb-2">
  <div class="card-header border-bottom mb-0 pb-0">
    <h5 class="card-title">Table hsm_config</h5>
    <div class="d-flex row gap-3 gap-md-0">
    </div>
  </div>
  <div class="card-datatable table-responsive">
    <table class="dt_hsm_config table border-top">
      <thead>
        <tr>
          <th></th>
          <th>hsm_ip</th>
          <th>hsm_port</th>
          <th>created_at</th>
          <th>updated_at</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div class="card mb-2">
  <div class="card-header border-bottom mb-0 pb-0">
    <h5 class="card-title">Table issuer</h5>
    <div class="d-flex row gap-3 gap-md-0">
    </div>
  </div>
  <div class="card-datatable table-responsive">
    <table class="dt_issuer table border-top">
      <thead>
        <tr>
          <th></th>
          <th>issuer_name</th>
          <th>issuer_type</th>
          <th>issuer_url_service</th>
          <th>issuer_host</th>
          <th>status</th>
          <th>created_at</th>
          <th>created_by</th>
          <th>updated_at</th>
          <th>updated_by</th>
          <th><i class='bx bx-run'></i></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div class="card mb-2">
  <div class="card-header border-bottom mb-0 pb-0">
    <h5 class="card-title">Table key_config</h5>
    <div class="d-flex row gap-3 gap-md-0">
    </div>
  </div>
  <div class="card-datatable table-responsive">
    <table class="dt_key_config table border-top">
      <thead>
        <tr>
          <th></th>
          <th>key_type</th>
          <th>value</th>
          <th>created_at</th>
          <th>updated_at</th>
          <th><i class='bx bx-run'></i></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div class="card mb-2">
  <div class="card-header border-bottom mb-0 pb-0">
    <h5 class="card-title">Table routes_config</h5>
    <div class="d-flex row gap-3 gap-md-0">
    </div>
  </div>
  <div class="card-datatable table-responsive">
    <table class="dt_routes_config table border-top">
      <thead>
        <tr>
          <th></th>
          <th>endpoint</th>
          <th>url</th>
          <th>status</th>
          <th>created_at</th>
          <th>updated_at</th>
          <th><i class='bx bx-run'></i></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div class="card mb-2">
  <div class="card-header border-bottom mb-0 pb-0">
    <h5 class="card-title">Table terminal_config</h5>
    <div class="d-flex row gap-3 gap-md-0">
    </div>
  </div>
  <div class="card-datatable table-responsive">
    <table class="dt_terminal_config table border-top">
      <thead>
        <tr>
          <th></th>
          <th>tid</th>
          <th>batch</th>
          <th>trace</th>
          <th><i class='bx bx-run'></i></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div class="card mb-2">
  <div class="card-header border-bottom mb-0 pb-0">
    <h5 class="card-title">Table terminal_keys</h5>
    <div class="d-flex row gap-3 gap-md-0">
    </div>
  </div>
  <div class="card-datatable table-responsive">
    <table class="dt_terminal_keys table border-top">
      <thead>
        <tr>
          <th></th>
          <th>tid</th>
          <th>key_type</th>
          <th>value</th>
          <th>created_at</th>
          <th>updated_at</th>
          <th><i class='bx bx-run'></i></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div class="card mb-2">
  <div class="card-header border-bottom mb-0 pb-0">
    <h5 class="card-title">Table transaction_status</h5>
    <div class="d-flex row gap-3 gap-md-0">
    </div>
  </div>
  <div class="card-datatable table-responsive">
    <table class="dt_transaction_status table border-top">
      <thead>
        <tr>
          <th></th>
          <th>id</th>
          <th>status</th>
          <th>created_at</th>
          <th>created_by</th>
          <th><i class='bx bx-run'></i></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div class="card mb-2">
  <div class="card-header border-bottom mb-0 pb-0">
    <h5 class="card-title">Table transaction_types</h5>
    <div class="d-flex row gap-3 gap-md-0">
    </div>
  </div>
  <div class="card-datatable table-responsive">
    <table class="dt_transaction_types table border-top">
      <thead>
        <tr>
          <th></th>
          <th>code</th>
          <th>name</th>
          <th>created_at</th>
          <th>created_by</th>
          <th><i class='bx bx-run'></i></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<script src="../assets/js/tab-parameters.js"></script>